<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Welcome  : <%= person %></h1>
    <p><strong>Age : </strong> <%= data.age %></p>
    <p><strong>Job : </strong> <%= data.job %></p>
    <h2>Hobbies</h2>
    <ul>
      <% data.hobbies.forEach(function(item){ %>
        <li><%= item %></li>
    <%  }); %>
    </ul>
  </body>
</html>
